pytest
httpx
ruff
black
mypy
# All stubs and types for mypy/Pylance
pandas-stubs
types-Pillow
types-pytz
types-passlib
types-python-jose
types-tensorflow
types-Pygments
types-colorama
types-decorator
types-jsonschema
types-openpyxl
types-six
